Repository hinto-janai/labeler-test, changes with the labels that .github/labeler.yml gives for each.
All labels: A-consensus, A-cryptonight, A-database, A-helper, A-net, A-p2p, A-pruning, A-test-utils, A-types, A-dependency, A-workspace, A-ci, A-docs

.github/labeler.yml:

A-consensus:
- changed-files:
  - any-glob-to-any-file: consensus/**

A-cryptonight:
- changed-files:
  - any-glob-to-any-file: cryptonight/**

A-database:
- changed-files:
  - any-glob-to-any-file: database/**

A-helper:
- changed-files:
  - any-glob-to-any-file: helper/**

A-net:
- changed-files:
  - any-glob-to-any-file: net/**

A-p2p:
- changed-files:
  - any-glob-to-any-file: p2p/**

A-pruning:
- changed-files:
  - any-glob-to-any-file: pruning/**

A-test-utils:
- changed-files:
  - any-glob-to-any-file: test-utils/**

A-types:
- changed-files:
  - any-glob-to-any-file: types/**

A-dependency:
- changed-files:
  - any-glob-to-any-file: '**/Cargo.toml' # Any Cargo file in the entire repo
  - any-glob-to-any-file: '**/Cargo.lock'

A-workspace:
- changed-files:
  - any-glob-to-any-file: '*' # Any root file change

A-ci:
- changed-files:
  - any-glob-to-any-file: .github/**

A-docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

dependency
  Cargo.lock
Labels: A-dependency, A-workspace

add .github/ISSUE_TEMPLATE/
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
Labels: A-ci, A-docs

fix
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
Labels: A-ci, A-docs

add `book/` test
  book/test/book.toml
  book/test/src/SUMMARY.md
  book/test/src/chapter_1.md
Labels: A-docs

update book
  book/test/src/chapter_1.md
Labels: A-docs

update book
  book/test/src/chapter_1.md
Labels: A-docs

add pull request templates
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/fix.md
  .github/PULL_REQUEST_TEMPLATE/normal.md
  .github/PULL_REQUEST_TEMPLATE/proposal.md
Labels: A-ci, A-docs

test
  test
Labels: A-workspace

add generic pr template
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/fix.md
  .github/PULL_REQUEST_TEMPLATE/normal.md
  .github/PULL_REQUEST_TEMPLATE/proposal.md
  .github/pull_request_template.md
Labels: A-ci, A-docs

!!
  .github/pull_request_template.md
Labels: A-ci, A-docs

ci: add `book.yml`
  .github/workflows/book.yml
Labels: A-ci

!!
  .github/workflows/book.yml
Labels: A-ci

!!
  .github/workflows/book.yml
Labels: A-ci

!!
  .github/workflows/book.yml
Labels: A-ci

!!
  .github/workflows/book.yml
Labels: A-ci

!!
  .github/workflows/book.yml
Labels: A-ci

!!
  book/test/a
Labels: none

!!
  .github/workflows/book.yml
Labels: A-ci

!!
  .github/workflows/book.yml
Labels: A-ci

!!
  book/test/a
Labels: none

s
  CODEOWNERS
Labels: A-workspace

!
  consensus/asdf
Labels: A-consensus

!!
  rpc/asdf
Labels: none

!!
  CODEOWNERS
Labels: A-workspace

!!
  test-utils/asdf
Labels: A-test-utils

release ci
  .github/workflows/release.yml
Labels: A-ci
